.container {
  padding: 0 2rem;
  background-color: rgb(223, 223, 223);
}

.main {
  min-height: 100vh;
  height: inherit;
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.main > * {
  grid-column: 2;
}

.listings {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
  row-gap: 40px;
  column-gap: 20px;
}

@media screen and (min-width: 768px) {
  .listings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .listings {
    grid-template-columns: repeat(3, 1fr);
  }
}
